streamlit
python-dotenv
requests
beautifulsoup4
yt-dlp
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
google-api-python-client
youtube-transcript-api
faiss-cpu
assemblyai